springmvcexample/src/main/webapp/wsdl/HelloWorldSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/HelloWorld/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorld" targetNamespace="http://www.example.org/HelloWorld/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/HelloWorld/">
      <xsd:element name="SayHello" type="xsd:int">

      </xsd:element>
      <xsd:element name="Result" type="xsd:string">

      </xsd:element>
    
            <xsd:element name="numberA" type="xsd:int"/>
            <xsd:element name="out" type="xsd:string"/>
            <xsd:element name="in" type="xsd:string"/>
            <xsd:element name="out1" type="xsd:string"/>
            <xsd:element name="AddFault" type="xsd:string"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloRequest">
    <wsdl:part element="tns:SayHello" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SayHelloResponse">
    <wsdl:part element="tns:Result" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddRequest">
  	<wsdl:part element="tns:numberA" name="numberA"/>
  	<wsdl:part name="numberB" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="AddResponse">
  	<wsdl:part element="tns:out" name="AddResponse"/>
  </wsdl:message>
  <wsdl:message name="Request">
  	<wsdl:part element="tns:in" name="Request"/>
  </wsdl:message>
  <wsdl:message name="Response">
  	<wsdl:part element="tns:out1" name="Response"/>
  </wsdl:message>
  <wsdl:message name="AddFault">
  	<wsdl:part element="tns:AddFault" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloRequest"/>
      <wsdl:output message="tns:SayHelloResponse"/>
    </wsdl:operation>


  </wsdl:portType>
  <wsdl:binding name="HelloWorldSOAP" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://www.example.org/HelloWorld/SayHello"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorld">
    <wsdl:port binding="tns:HelloWorldSOAP" name="HelloWorldSOAP">
      <soap:address location="http://localhost:8080/springmvcexample/services/HelloWorldSOAP"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
